.accordion {
  cursor: pointer;
  width: 100%;
  border: none;  

  &__text{
    transition: 0.4s;  
    max-height: 0;
    overflow: hidden;
  }
  &__title {
    padding:10px 40px 10px 0;
    cursor: pointer; 
    position: relative; 
    &::after {
      content: url('../images/icons/up.png');
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      transition: transform 0.3s ease-in;
    } 
    .is-open &::after {
      transform: rotate(180deg); 
    }
  } 
  &__item {
    &.is-open{ 
      .accordion {
        &__text{
             max-height: 300px;
             animation-name: fullHeight;
             animation-delay: 0.4s;
             animation-fill-mode: forwards;
             animation-duration: 0.3;

        }
      }
    }
  }  
}

@keyframes fullHeight {
  100%{
    max-height: 5000px; 
  }
}